/* style: toc */
.man-navigation {display:block !important;position:fixed;top:0;right:0;height:100%;padding:4ex 8ex;border-left:1px solid #dbdbdb;background:#eee}
.man-navigation a,.man-navigation a:hover,.man-navigation a:link,.man-navigation a:visited {display:block;margin:0;padding:1rem 0 0 0;color:#999;text-decoration:none}
.man-navigation a:hover {color:#111;text-decoration:underline}
