<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='content-type' value='text/html;charset=utf8'>
    <title>FROG</title>
    <link rel="stylesheet" type="text/css" href="/css/man.css">
    <link rel="stylesheet" type="text/css" href="/css/toc.css">
  </head>
  <body id='manpage'>
    <div class='mp' id='man'>

      <div class='man-navigation'>
        <dl>
          <dt>MAKING-OF</dt>
          <dd><a href="/making-of/physics.html">PHYSIC ENGINE</a></dd>
        </dl>
        <dl>
          <dt>HOWTOS</dt>
          <dd><a href="/howto/app.html">APP</a></dd>
          <dd><a href="/howto/install.html">INSTALL</a></dd>
          <dd><a href="/howto/lsap.html">SWEEP AND PRUNE</a></dd>
          <dd><a href="/howto/control.html">CONTROL</a></dd>
        </dl>
        <dl>
          <dt>API</dt>
          <a href="/api/html/">ONLINE API DOC</a>
          <dl>
      </div>

      <ol class='man-decor man-head man head'>
        <li class='tl'></li>
        <li class='tc'>Pixotters' FROG website</li>
        <li class='tr'></li>
      </ol>
